@charset "utf-8";
hr{
	background-color:#11103B;
	border: solid #11103B;
}

#contents{
	width:90%;
	max-width: 960px;
	margin:0 auto;
	font-family: Meiryo, sans-serif;
	font-size: 15px;
}

#profile-image{
	width:100%;
}
#header{
}
#footer{
	text-align: center;
}
